finalproject.json
[
    {
        "id": "db7109561ff78742",
        "type": "tab",
        "label": "finalproject",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c492f7a65550517",
        "type": "rpi-sensehat in",
        "z": "db7109561ff78742",
        "name": "",
        "motion": false,
        "env": true,
        "stick": false,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "b72480cf8682ea49"
            ]
        ]
    },
    {
        "id": "b72480cf8682ea49",
        "type": "delay",
        "z": "db7109561ff78742",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "c64ce3b3fcfa6636"
            ]
        ]
    },
    {
        "id": "c64ce3b3fcfa6636",
        "type": "function",
        "z": "db7109561ff78742",
        "name": "Data",
        "func": "var tmp = msg.payload\nmsg.payload.temperature = (((tmp.temperature * 1.8) + 32) - 30)\nmsg.topic = \"INSERT INTO environment (temp, humidity, pressure) VALUES (\" + msg.payload.temperature + \", \" + msg.payload.humidity + \", \" + msg.payload.pressure + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "d3b144cf042e5bfe"
            ]
        ]
    },
    {
        "id": "d3b144cf042e5bfe",
        "type": "mysql2",
        "z": "db7109561ff78742",
        "name": "test",
        "server": "aa7b4fc953ad09a1",
        "bind": false,
        "topic": "",
        "x": 750,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "168a046e4fa067c6",
        "type": "debug",
        "z": "db7109561ff78742",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "d6c665e56f2ce6df",
        "type": "catch",
        "z": "db7109561ff78742",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 560,
        "y": 460,
        "wires": [
            [
                "168a046e4fa067c6"
            ]
        ]
    },
    {
        "id": "aa7b4fc953ad09a1",
        "type": "mysql2-server",
        "host": "35.224.51.144",
        "port": "3306",
        "username": "nodered",
        "password": "*jDQlNOsglRE'"lz",
        "db": "finalprojectdb",
        "servername": "finalproject"
    }
]